@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Source+Sans+Pro&display=swap');
@import '../Resource/Variables.css';

*::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-terciario);
}

*::-webkit-scrollbar-thumb {
  background: #000000;
}

.LandingPage__Container {
  height: 100vh;
  background-color: var(--color-primario);
  z-index: 2;
  -webkit-box-shadow: -1px -36px 42px 6px var(--color-primario);
  box-shadow: -1px -36px 42px 6px var(--color-primario);
  color: black;
}

.loading {
  z-index: 5;
}

.loading.true {
  height: 100vh;
  background-color: var(--color-terciario);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

.loading.false {
  display: none;
}

.LandingPage__Container_Row_Tres {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courgette', cursive;
  font-size: 5rem;
}

.FondoLogoImagen {
  width: 50%;
}

.LandingPage__Container_Row_Seis {
  height: 70%;
  background: var(--color-primario);
  background: -moz-linear-gradient(top, var(--color-primario) 0%, var(--color-primario) 31%, #000000 100%);
  background: -webkit-linear-gradient(top, var(--color-primario) 0%, var(--color-primario) 31%, #000000 100%);
  background: linear-gradient(to bottom, var(--color-primario) 0%, var(--color-primario) 31%, #000000 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleMaps {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.googleMapsCenter {
  width: 50%;
  height: 50%;
}

.LandingPage__Container_Row_Seis iframe {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 32px 9px var(--color-terciario);
  box-shadow: 5px 5px 32px 9px var(--color-terciario);
}

.LandingPage__Container_Row_Siete {
  height: 100%;
  background: #000000;
  align-items: center;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
}

.LandingPage__Container_Row_Siete .ImagenTorta1 {
  width: 100%;
  height: 100%;
  margin: 0px;
  transition: 1s;
}

.LandingPage__Container_Row_Siete .ImagenTorta2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 7px;
  transition: 1s;
  overflow: hidden;
}

.Landing__Letras h1 {
  width: 100%;
  height: 100%;
  font-size: 6rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-family: 'Courgette', cursive;
}

.Landing__Letras h3 {
  color: white;
  font-family: 'Courgette', cursive;
}

.logos {
  filter: blur(0px) brightness(100%) saturate(102%);
  -webkit-filter: blur(0px) brightness(100%) saturate(102%);
  -moz-filter: blur(0px) brightness(100%) saturate(102%);
  margin-right: 15px;
  margin-bottom: 5px;
}

@keyframes mostrar {
  from {
    margin-left: -100%;
  }
  to {
    margin-right: -100%;
  }
}

.Container_Col_Images img:hover {
  filter: brightness(1.2);
}

.Container_Col_Images img {
  transition: 0.5s;
}

.Col_Button {
  margin-top: 60px;
}

/* BUTTON MENU */
/* From uiverse.io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */
/*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */ /*----MEDIA QUERY---- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .LandingPage__Container_Row_Tres {
    height: 100%;
    -webkit-box-shadow: inset 0px 50px 25px -7px var(--color-secundario);
    box-shadow: inset 0px 50px 25px -7px var(--color-secundario);
    background: var(--color-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courgette', cursive;
  }
  .LandingPage__Container_Row_Dos h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .FondoLogoImagen {
    width: 50%;
  }

  .Mapa {
    width: 50%;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .LandingPage__Container_Row_Tres {
    height: 100%;
    -webkit-box-shadow: inset 0px 50px 25px -7px var(--color-secundario);
    box-shadow: inset 0px 50px 25px -7px var(--color-secundario);
    background: var(--color-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courgette', cursive;
    font-size: 2vmin !important;
  }
  .LandingPage__Container_Row_Dos h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .FondoLogoImagen {
    width: 50%;
  }
  .Landing__Letras h1 {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'Courgette', cursive;
  }

  .Landing__Letras h3 {
    color: white;
    font-family: 'Courgette', cursive;
  }
  .Mapa {
    width: 50%;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
  }
}

/* Teléfonos */
@media only screen and (max-width: 575px) {
  *::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-terciario);
  }

  *::-webkit-scrollbar-thumb {
    background: #000000;
  }

  .LandingPage__Container_Row_Tres {
    height: 100%;

    -webkit-box-shadow: inset 0px 50px 25px -7px var(--color-secundario);
    box-shadow: inset 0px 50px 25px -7px var(--color-secundario);

    background: var(--color-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courgette', cursive;
    font-size: 2vmin !important;
  }
  .LandingPage__Container_Row_Dos h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .FondoLogoImagen {
    width: 50%;
  }
  .Landing__Letras h1 {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'Courgette', cursive;
  }

  .Landing__Letras h3 {
    color: white;
    font-family: 'Courgette', cursive;
  }
  .Mapa {
    width: 50%;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
  }
  .LandingPage__Container_Row_Siete .ImagenTorta2 {
    width: 100%;
    display: flex;
    flex-direction: column;

    transition: 1s;
  }
}
