.LandingPage__Container_Row_Dos {
  width: 100%;
  padding-bottom: 20%;
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courgette", cursive;
}

.LandingPage__Container_Row_Dos h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.LandingPage__Container_Row_Dos p {
  font-size: 1.1rem;
  font-weight: 500;
}

#letraReposteria {
  font-size: 2rem;
  opacity: 0.7;
  padding: 50px;
}

.LandingPage__LogoBar_Footer {
  float: left;
  margin-left: 20px;
}

.FigureLocal {
  width: 80%;
}
