.LandingPage__Container_Row_Cuatro {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoImagenInfo {
  width: 20%;
}

.Mapa {
  width: 50%;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
}

.containerProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background: red;
}

@media only screen and (max-width: 576px) {
  .LogoImagenInfo {
    width: 60%;
  }
}
