.LandingPage__Container_Row_Tres {
  height: 100%;
  min-height: 100vh;
  padding: 0;
  -webkit-box-shadow: inset 0px 50px 25px -7px var(--color-secundario);
  box-shadow: inset 0px 50px 25px -7px var(--color-secundario);
  background: var(--color-secundario);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courgette', cursive;
}

.LandingPage__Container_Row_Tres p {
  font-size: 1.3rem;
  padding: 10% 0%;
}
